@{
    ViewData["Title"] = "Planet Card Page";
}
@model List<PlanetDTO>

<div class="container-fluid" style="margin:3px;">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Planet Cards</h1>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="row;" style="margin:10px">

                <!-- Earnings (Monthly) Card Example -->
                <div class="card" style="width:260px; height:550px">
                    <img src="~/img/@item.Img" class="card-img-top" alt="Chararacter" style="height:200px;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Population: @item.Population</p>
                        <p class="card-text">Climate: @item.Climate </p>
                        <p class="card-text">Gravity: @item.Gravity </p>
                        <p class="card-text">Terrain: @item.Terrain </p>
                        <p class="card-text">Surface Water: @item.Surface_water </p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>                