@{
    ViewData["Title"] = "Planet Card Page";
}
@model List<PlanetDTO>

<div class="container-fluid" style="margin:3px;">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Planet Cards</h1>
        <form asp-controller="Planets" asp-action="GetAllPlanetCard" method="post" class="form-inline my-2 my-lg-0">
            <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <!-- Burada model listesini input alanı olarak ekliyoruz -->
            <input name="models" type="hidden" value="@Json.Serialize(Model)">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="row;" style="margin:10px">

                <!-- Earnings (Monthly) Card Example -->
                <div class="card" style="width:260px; height:550px">
                    <img src="~/img/@item.Img" class="card-img-top" alt="Chararacter" style="height:200px;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Population: @item.Population</p>
                        <p class="card-text">Climate: @item.Climate </p>
                        <p class="card-text">Gravity: @item.Gravity </p>
                        <p class="card-text">Terrain: @item.Terrain </p>
                        <p class="card-text">Surface Water: @item.Surface_water </p>
                    </div>
                </div>
            </div>
        }

    </div>
</div>                