@{
    ViewData["Title"] = "Character Page";
}
@model List<People>
<body id="page-top">
    <div class="container-fluid">
        <div class="card shadow mb-4 col-lg-12">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Character Tables</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Bird Year</th>
                                <th>Height</th>
                                <th>Mass</th>
                                <th>Hair Color</th>
                                <th>Films</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Bird Year</th>
                                <th>Height</th>
                                <th>Mass</th>
                                <th>Hair Color</th>
                                <th>Films</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Birth_year</td>
                                    <td>@item.Height</td>
                                    <td>@item.Mass</td>
                                    <td>@item.Hair_color</td>
                                    <td>@item.Films.Count()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</body>

