@{
    ViewData["Title"] = "Vehicle Card Page";
}
@model List<VehicleDTO>

<div class="container-fluid" style="margin:3px;">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Vehicle Cards</h1>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="row;" style="margin:10px">

                <!-- Earnings (Monthly) Card Example -->
                <div class="card" style="width:260px; height:730px">
                    <img src="~/img/@item.Img" class="card-img-top" alt="Chararacter" style="height:200px;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Model: @item.Model</p>
                        <p class="card-text">Manufacturer: @item.Manufacturer</p>
                        <p class="card-text">Cost In Credits: @item.Cost_in_credits</p>
                        <p class="card-text">Passengers: @item.Passengers</p>
                        <p class="card-text">Crew: @item.Crew</p>
                        <p class="card-text">Cargo Capacity: @item.Cargo_capacity</p>
                        <p class="card-text"> Vehicle Class: @item.Vehicle_class</p>
                    </div>
                </div>
            </div>
        }

    </div>
</div>                