@{
    ViewData["Title"] = "Planet Page";
}
@model List<Species>
<body id="page-top">
    <div class="container-fluid">
        <div class="card shadow mb-4 col-lg-12">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Planet Tables</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Classification</th>
                                <th>Designation</th>
                                <th>Average Height</th>
                                <th>Skin Colors</th>
                                <th>Average Lifespan</th>
                                <th>Language</th>
                                <th>Films</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Classification</th>
                                <th>Designation</th>
                                <th>Average Height</th>
                                <th>Skin Colors</th>
                                <th>Average Lifespan</th>
                                <th>Language</th>
                                <th>Films</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Classification</td>
                                    <td>@item.Designation</td>
                                    <td>@item.Average_height</td>
                                    <td>@item.Skin_colors</td>
                                    <td>@item.Average_lifespan</td>
                                    <td>@item.Language</td>
                                    <td>@item.Films.Count()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
</body>

