@{
    ViewData["Title"] = "Species Card Page";
}
@model List<SpeciesDTO>

<div class="container-fluid" style="margin:3px;">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Species Cards</h1>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="row;" style="margin:10px">

                <!-- Earnings (Monthly) Card Example -->
                <div class="card" style="width:260px; height:530px;">
                    <img src="~/img/@item.Img" class="card-img-top" alt="Chararacter" style="height:200px;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Classification: @item.Classification</p>
                        <p class="card-text">Designation: @item.Designation</p>
                        <p class="card-text">Skin Colors: @item.Skin_colors</p>
                        <p class="card-text">Language: @item.Language</p>
                        <p class="card-text">Homeworld: @item.Homeworld</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>                